body {
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    width: 100%;
    height: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    display: flex;
    justify-content: center; /* horizontally */
    align-items: center;
   }

a {
    text-decoration: none;
    margin-left: 10px;
    padding-right: 10px;
    color: white;
}

.link, p {
    color: white;
}
#slogan {
    color: black;
}
#profile {
    position:absolute;
    margin-left: 80%;
    margin-top: 20px;
    font-size: 18px;
}

#jamb {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between;
    margin-top: 20px;

}
#new {
    margin-top: 10px; 
    margin-left: 20px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
}

#searchp {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 20px;
}
#text {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
    width: 49%;
}

#jpic {
    width: 49%;
}

#content {
    margin-top: 20px;
    
}

#stick {
    margin-top: 20px;
    padding: 0;
    width: 90%;
    height: 3px;
    background-color: black;
}
.stickcont {
    display: flex;
       justify-content: center; /* horizontally */
 
}

#search_form{
    padding-top: 50px;
    display: flex;
    justify-content: center; /* horizontally */
    font-family: 'Roboto', sans-serif;
}

#newbooks {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content:flex-start ; /* horizontally */
    align-items:first baseline;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}

#addpic {
    width: 60%;
    margin-right: 20px;
}

#search_form_add{
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

#searchpic {
    width:98%;
}

#googleBooks {
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    justify-content:flex-start ; /* horizontally */
    align-items:first baseline;
    flex-wrap: wrap;
}
h6 {
    font-weight: 200;
    font-size: 10px;
   }

h5 h6 {
    font-weight: semi-bold;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
h6 {
    font-weight: 200;
    font-size: 10px;
}
.book {
    width:80px;
    padding-right: 15px;
}
form {
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
}

.book.selected {
    border: 3px solid black;
  }


  #bookForm {
margin-bottom: 20px;
  }